<% layout('layouts/boilerplate') -%>

<div class="row justify-content-center">
	<div class="col-md-6">
		<h4>New Campground</h4>
		<form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
			<div class="mb-3">
				<label for="title" class="form-label">Title</label>
				<input class="form-control" type="text" id="title" name="campground[title]" required>
			</div>
			<div class="mb-3">
				<label for="location" class="form-label">Location</label>
				<input class="form-control" type="text" id="location" name="campground[location]" required>
			</div>
			<div class="mb-3">
				<label for="price" class="form-label">Price</label>
				<div class="input-group">
					<span class="input-group-text" id="price">$</span>
					<input name="campground[price]" type="text" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price" required>
				</div>
			</div>
			<div class="mb-3">
				<label for="description" class="form-label">Description</label>
				<textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
			</div>
			<div class="mb-3">
				<label for="formFile" class="form-label">Images</label>
				<input class="form-control" type="file" id="formFile" name="campground[images]" onchange="previewMultiple(event)" multiple>
				<label for="formFile" class="form-label"></label>
				<div class="row" id="img-preview"></div>
			</div>
			<button class="btn btn-primary">Add Campground</button>
		</form>
	</div>
</div>

<script src="/js/previewFiles.js"></script>